<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>navbar</name>
    <displayName><![CDATA[nav bar]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[This module allows you to navigate easily in our website]]></description>
    <author><![CDATA[ninja]]></author>
    <tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>